{# Base Device Configuration Template #}
{# This template generates fundamental device configurations #}

{# Hostname and Domain Configuration #}
hostname {{ hostname }}
{%- if domain_name is defined %}
ip domain-name {{ domain_name }}
{%- endif %}
!

{# Enable secret and service password encryption #}
{%- if security.service_password_encryption is defined and security.service_password_encryption %}
service password-encryption
{%- endif %}
!

{# IP routing (for routers) #}
{%- if device_category == "router" and ip_routing.enabled is defined and ip_routing.enabled %}
ip routing
{%- if cef.enabled is defined and cef.enabled %}
ip cef
{%- endif %}
{%- endif %}

{# DNS Configuration #}
{%- if dns is defined %}
{%- if dns.domain_lookup %}
ip domain-lookup
{%- else %}
no ip domain-lookup
{%- endif %}
{%- if dns.servers is defined %}
{%- for server in dns.servers %}
ip name-server {{ server }}
{%- endfor %}
{%- endif %}
{%- endif %}
!

{# NTP Configuration #}
{%- if ntp_servers is defined %}
{%- for ntp_server in ntp_servers %}
ntp server {{ ntp_server }}
{%- endfor %}
{%- endif %}

{# Timezone Configuration #}
{%- if timezone is defined %}
clock timezone {{ timezone }}
{%- endif %}
!

{# SNMP Configuration #}
{%- if snmp is defined %}
{%- if snmp.community is defined %}
snmp-server community {{ snmp.community }} RO
{%- endif %}
{%- if snmp.location is defined %}
snmp-server location {{ snmp.location }}
{%- endif %}
{%- if snmp.contact is defined %}
snmp-server contact {{ snmp.contact }}
{%- endif %}
snmp-server enable traps
{%- endif %}
!

{# Local User Configuration #}
{%- if local_users is defined %}
{%- for user in local_users %}
username {{ user.username }} privilege {{ user.privilege }} secret {{ user.password }}
{%- endfor %}
{%- endif %}
!

{# SSH Configuration #}
{%- if ssh is defined %}
{%- if ssh.version is defined %}
ip ssh version {{ ssh.version }}
{%- endif %}
{%- if ssh.timeout is defined %}
ip ssh time-out {{ ssh.timeout }}
{%- endif %}
{%- if ssh.authentication_retries is defined %}
ip ssh authentication-retries {{ ssh.authentication_retries }}
{%- endif %}
crypto key generate rsa modulus 2048
{%- endif %}
!

{# AAA Configuration #}
{%- if aaa is defined %}
{%- if aaa.new_model %}
aaa new-model
{%- endif %}
{%- if aaa.authentication.login_default is defined %}
aaa authentication login default {{ aaa.authentication.login_default }}
{%- endif %}
{%- if aaa.authorization.exec_default is defined %}
aaa authorization exec default {{ aaa.authorization.exec_default }}
{%- endif %}
{%- endif %}
!

{# Standard ACLs #}
{%- if standard_acls is defined %}
{%- for acl_name, acl_entries in standard_acls.items() %}
ip access-list standard {{ acl_name }}
{%- for entry in acl_entries %}
 {{ entry }}
{%- endfor %}
!
{%- endfor %}
{%- endif %}

{# Banner Configuration #}
{%- if banner is defined and banner.motd is defined %}
banner motd ^
{{ banner.motd }}
^
{%- elif common_banner is defined %}
banner motd ^
{{ common_banner }}
^
{%- endif %}
!

{# Logging Configuration #}
{%- if logging is defined %}
{%- if logging.buffered_size is defined %}
logging buffered {{ logging.buffered_size }}
{%- endif %}
{%- if logging.console_level is defined %}
logging console {{ logging.console_level }}
{%- endif %}
{%- endif %}

{%- if syslog is defined and syslog.servers is defined %}
{%- for server in syslog.servers %}
logging host {{ server }}
{%- endfor %}
{%- if syslog.facility is defined %}
logging facility {{ syslog.facility }}
{%- endif %}
{%- endif %}
!

{# Archive Configuration #}
{%- if archive is defined %}
archive
{%- if archive.path is defined %}
 path {{ archive.path }}
{%- endif %}
{%- if archive.maximum is defined %}
 maximum {{ archive.maximum }}
{%- endif %}
{%- if archive.time_period is defined %}
 time-period {{ archive.time_period }}
{%- endif %}
!
{%- endif %}

{# Line VTY Configuration #}
{%- if vty_lines is defined %}
line vty 0 {{ vty_lines.count - 1 }}
{%- if vty_lines.transport_input is defined %}
 transport input {{ vty_lines.transport_input }}
{%- endif %}
{%- if vty_lines.access_class is defined %}
 access-class {{ vty_lines.access_class }} in
{%- endif %}
{%- if vty_lines.exec_timeout_min is defined %}
 exec-timeout {{ vty_lines.exec_timeout_min }} {{ vty_lines.exec_timeout_sec | default(0) }}
{%- endif %}
!
{%- endif %}

{# Console Line Configuration #}
{%- if console_line is defined %}
line con 0
{%- if console_line.exec_timeout_min is defined %}
 exec-timeout {{ console_line.exec_timeout_min }} {{ console_line.exec_timeout_sec | default(0) }}
{%- endif %}
{%- if console_line.logging_synchronous %}
 logging synchronous
{%- endif %}
!
{%- endif %}