{# Interface Configuration Template #}
{# This template generates interface configurations using host and group variables #}

{%- for interface_name, interface_config in interfaces.items() %}
interface {{ interface_name }}
 description {{ interface_config.description | default(interface_defaults.description_prefix + " " + interface_name) }}
 
{%- if interface_config.ip_address is defined %}
 ip address {{ interface_config.ip_address }} {{ interface_config.subnet_mask }}
{%- endif %}

{%- if interface_config.vlan_id is defined %}
 encapsulation dot1Q {{ interface_config.vlan_id }}
{%- endif %}

{%- if device_category == "switch" %}
{%- if interface_config.mode == "access" %}
 switchport mode access
 switchport access vlan {{ interface_config.access_vlan }}
{%- if port_security is defined %}
 switchport port-security
 switchport port-security maximum {{ port_security.maximum_addresses }}
 switchport port-security violation {{ port_security.violation_mode }}
 switchport port-security aging time {{ port_security.aging_time }}
 switchport port-security aging type {{ port_security.aging_type }}
{%- endif %}
{%- if interface_settings.access_ports.spanning_tree_portfast %}
 spanning-tree portfast
{%- endif %}
{%- if interface_settings.access_ports.spanning_tree_bpduguard %}
 spanning-tree bpduguard {{ interface_settings.access_ports.spanning_tree_bpduguard }}
{%- endif %}

{%- elif interface_config.mode == "trunk" %}
 switchport mode trunk
{%- if interface_config.native_vlan is defined %}
 switchport trunk native vlan {{ interface_config.native_vlan }}
{%- endif %}
{%- if interface_config.allowed_vlans is defined %}
 switchport trunk allowed vlan {{ interface_config.allowed_vlans }}
{%- endif %}
{%- if interface_settings.trunk_ports.switchport_nonegotiate %}
 switchport nonegotiate
{%- endif %}
{%- endif %}
{%- endif %}

{%- if device_category == "router" %}
{%- if interface_defaults_routers.ip_redirects is defined and not interface_defaults_routers.ip_redirects %}
 no ip redirects
{%- endif %}
{%- if interface_defaults_routers.ip_proxy_arp is defined and not interface_defaults_routers.ip_proxy_arp %}
 no ip proxy-arp
{%- endif %}
{%- if interface_defaults_routers.ip_unreachables is defined and not interface_defaults_routers.ip_unreachables %}
 no ip unreachables  
{%- endif %}
{%- endif %}

{%- if port_defaults is defined %}
{%- if port_defaults.speed != "auto" %}
 speed {{ port_defaults.speed }}
{%- endif %}
{%- if port_defaults.duplex != "auto" %}
 duplex {{ port_defaults.duplex }}
{%- endif %}
{%- endif %}

 no shutdown
!
{% endfor %}

{%- if mgmt_interface is defined %}
interface {{ mgmt_interface.name }}
 description Management Interface
 ip address {{ mgmt_interface.ip_address }} {{ mgmt_interface.subnet_mask }}
 no shutdown
!
{%- endif %}