{# Router-Specific Configuration Template #}
{# This template generates router-specific configurations like DHCP, NAT, and routing #}

{%- if device_category == "router" %}

{# DHCP Pool Configuration #}
{%- if dhcp_pools is defined %}
{%- for pool_name, pool_config in dhcp_pools.items() %}
ip dhcp pool {{ pool_name }}
 network {{ pool_config.network }} {{ pool_config.subnet_mask }}
 default-router {{ pool_config.default_router }}
{%- if pool_config.dns_servers is defined %}
{%- for dns_server in pool_config.dns_servers %}
 dns-server {{ dns_server }}
{%- endfor %}
{%- endif %}
{%- if pool_config.lease_days is defined %}
 lease {{ pool_config.lease_days }}
{%- endif %}
!
{%- endfor %}

{# Exclude DHCP addresses for network devices #}
{%- for pool_name, pool_config in dhcp_pools.items() %}
ip dhcp excluded-address {{ pool_config.default_router }}
{%- endfor %}
!
{%- endif %}

{# Static Route Configuration #}
{%- if static_routes is defined %}
{%- for route in static_routes %}
ip route {{ route.destination }} {{ route.mask }} {{ route.next_hop }}
{%- endfor %}
!
{%- endif %}

{# NAT Configuration #}
{%- if nat is defined %}
{%- if nat.inside_interfaces is defined %}
{%- for interface in nat.inside_interfaces %}
interface {{ interface }}
 ip nat inside
!
{%- endfor %}
{%- endif %}

{%- if nat.outside_interface is defined %}
interface {{ nat.outside_interface }}
 ip nat outside
!
{%- endif %}

{# NAT Access List and Pool #}
ip access-list standard NAT_POOL
{%- if dhcp_pools is defined %}
{%- for pool_name, pool_config in dhcp_pools.items() %}
 permit {{ pool_config.network }} 0.0.0.255
{%- endfor %}
{%- endif %}
!

{# NAT Overload Configuration #}
{%- if nat.outside_interface is defined %}
ip nat inside source list NAT_POOL interface {{ nat.outside_interface }} overload
{%- endif %}
!
{%- endif %}

{# Extended ACLs #}
{%- if acls is defined %}
{%- for acl in acls %}
ip access-list extended {{ acl.name }}
{%- for entry in acl.entries %}
 {{ entry }}
{%- endfor %}
!
{%- endfor %}
{%- endif %}

{# Quality of Service Configuration #}
{%- if qos_routers is defined %}
{# Class Maps #}
{%- for class_config in qos_routers.classes %}
class-map match-any {{ class_config.name }}
{%- if class_config.name == "VOICE_CLASS" %}
 match dscp ef
{%- elif class_config.name == "VIDEO_CLASS" %}
 match dscp af41
{%- else %}
 match any
{%- endif %}
!
{%- endfor %}

{# Policy Map #}
policy-map {{ qos_routers.policy_map }}
{%- for class_config in qos_routers.classes %}
 class {{ class_config.name }}
{%- if class_config.priority is defined and class_config.priority %}
  priority percent {{ class_config.bandwidth_percent }}
{%- else %}
  bandwidth percent {{ class_config.bandwidth_percent }}
{%- endif %}
{%- endfor %}
!
{%- endif %}

{# HSRP Configuration (if interfaces support it) #}
{%- if hsrp is defined and interfaces is defined %}
{%- for interface_name, interface_config in interfaces.items() %}
{%- if interface_config.vlan_id is defined and interface_config.ip_address is defined %}
interface {{ interface_name }}
{%- if hsrp.version is defined %}
 standby version {{ hsrp.version }}
{%- endif %}
 standby {{ interface_config.vlan_id }} ip {{ interface_config.ip_address | regex_replace('\.\d+$', '.254') }}
{%- if hsrp.preempt %}
 standby {{ interface_config.vlan_id }} preempt
{%- endif %}
!
{%- endif %}
{%- endfor %}
{%- endif %}

{%- else %}
{# This template section is for routers only #}
! Router-specific configuration not applicable for switches
{%- endif %}